name: Paper Draft PDF

on:
  push:
    paths:
      - 'paper/**'
      - '.github/workflows/draft-pdf.yml'
  pull_request:
    paths:
      - 'paper/**'
      - '.github/workflows/draft-pdf.yml'

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Build paper draft

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: paper/paper.md

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: paper
          path: paper/paper.pdf
